
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
}

body {
    background-image:linear-gradient(#00ddff, #004cff);
    width: 100%;
    height: 1500px;
    background-repeat: no-repeat;
}

.main-quest {
    padding: 40px;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
}

.left p{
    color: white;
}

.left img {
    width: 600px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-quest {
    width: 450px;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
    padding: 30px 35px;
    background-color: white;
    border-radius: 30px;
}


.card-quest img {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.text > input {
    width: 200px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
}

.btn-next {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 15px;
    background-color:#004cff;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid grey;
    color: white;
    text-decoration: none;
}

.btn-next:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s;
}
